<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Los Terranaitors Robot</title>
        <link rel="icon" type="image/x-icon" href="Logo.jpeg">
    </head>
    <style>
        h2 {
            background-color:rgb(55, 56, 55);
            border:2px solid rgb(29, 179, 49);
            color:#00FF00;
            font-size:200%;
            text-align:center;
        }
    </style>
    <body>
        <h2>Imagen Camara</h2> 
        <hr>
    
        <img src="stream.mjpg" width="640" height="480" />

        <form action="/8" method="POST" method="GET">
        <button name="8" value="8" style="background-color:#333333;color:#00FF00;border-radius:10px; margin: -470px 1000px; font-size: 100px;">🡡</button>
        </form>
        <form action="/4" method="POST" method="GET">
        <button name="4" value="4" style="background-color:#333333;color:#00FF00;border-radius:10px; margin: -330px 830px; font-size: 100px;">🡨</button>
        </form>
        <form action="/5" method="POST" method="GET">
        <button name="5" value="5" style="background-color:#333333;color:#00FF00;border-radius:100px; margin: -310px 965px; font-size: 80px;">Stop</button>
        </form>
        <form action="/6" method="POST" method="GET">
        <button name="6" value="6" style="background-color:#333333;color:#00FF00;border-radius:10px; margin: -330px 1170px; font-size: 100px;">🡢</button>
        </form>
        <form action="/2" method="POST" method="GET">
        <button name="2" value="2" style="background-color:#333333;color:#00FF00;border-radius:10px; margin: -190px 1000px; font-size: 100px;">🡫</button>
        </form>
        <hr>
        <footer style="text-align:center;">Derechos Reservados Grupo Los Terranaitors 2023</footer>
    </body>
</html>